<h1>Admin::StoresController#index</h1>
<p>Find me in app/views/admin/admin/stores/index.html.erb</p>

<% @stores.each do |store| %>
    <H1> <%= store.name %> </H1>
    <%= link_to 'Details', admin_store_path(store) %>
    <%= link_to 'Edit Store', edit_admin_store_path(store) %>
    <%= link_to 'Delete', admin_store_path(store),method: :delete %>
    <%= link_to 'Available Products', admin_store_product_stores_path(store) %>
    <br>
<% end %>

<%= link_to 'Add Store', new_admin_store_path() %>

