<h1>Admin::Products#index</h1>
<p>Find me in app/views/admin/products/index.html.erb</p>

<% @products.each do |product| %>
    <H1> <%= product.name %> </H1>
    <%= link_to 'Details', admin_product_path(product) %>
    <%= link_to 'Edit Product', edit_admin_product_path(product) %>
    <%= link_to 'Delete', admin_product_path(product),method: :delete %>
    <br>
<% end %>

<%= link_to 'Add Product', new_admin_product_path() %>